::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
}

body {
    background-color: #191b1c;
    color: #b4aea4;
}

i[class^="icon-"].warning {
    color: #d45d4a;
}

a {
    color: #4bc7fe;
}

.exception-name-block div {
    background-color: #a03726;
    color: #e8e6e3;
}

.exception-name-block div::after {
    border-color: #923223 transparent transparent;
}

.exception-name-block p {
    background-color: #232628;
}

.syntaxhighlighter {
    background-color: #181a1b;
}

.syntaxhighlighter table td.gutter {
    background-color: #5c6468;
    color: #e8e6e3;
}

.syntaxhighlighter table td.code .container div.line.highlighted {
    background-color: #a03726;
    color: #e8e6e3;
}

table {
    border-color: #545b5e;
}

table.data-table thead th,
table.data-table thead th {
    background-color: #5c6468;
    color: #e8e6e3;
}

table.data-table tbody td,
table.data-table tbody th {
    background-color: #181a1b;
}

table.data-table td,
table.data-table th {
    border-color: #303436;
}

table.data-table tbody tr:nth-child(2n) td,
table.data-table tbody tr:nth-child(2n) th {
    background-color: #2d3133;
}
